/* Add CSS Styling */
.odd {
    background-color: rgb(235, 96, 115);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.big {
    font-size: 24px;
}

#second {
    color: rgb(25, 0, 255);
    font-size: 36px;
}

#fourth {
    background-color: rgb(66, 238, 43);
    font-weight: bold;
}
