body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  padding: 12px;
}

.title, .content, .button-container {
  background: #e3f4ff;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px;
}

.button-container {
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  margin: 0px auto;
}
